@import '~bulma';
@import '~bulma-timeline';

.navbar {
    border-bottom: 1px solid #eee;
    margin-bottom: 8px;
}

.gh-username img {
    width: 32px;
    margin-right: 3px;
}

#profile-bio {
    margin-top: 10px;
}

.timeline .timeline-item {
    padding-bottom: 1em;
}

.is-half-width {
    @media screen and (min-width: 768px) and (max-width: 1280px) {
        flex: none;
        width: 50%;
    }
}

.is-desktop-width {
    @media screen and (min-width: 1280px) {
        flex: none;
        width: 30%;
    }
}
